body{
    margin:0;
    font-family:'Courier New', monospace;
    background:black;
    color:#00ff00;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
    transition:0.4s;
    padding: 60px 15px 40px;
}

.brand{
    animation:glow 1.5s infinite alternate;
}

@keyframes glow{
    from{ text-shadow:0 0 5px #00ff00; }
    to{ text-shadow:0 0 20px #00ff00; }
}

.container{
    border:1px solid #00ff00;
    padding:25px;
    width:350px;
    max-width:90%;
    text-align:center;
    border-radius:12px;
  
}

.password-box{
    display:flex;
    margin-top:10px;
    flex-direction: column;
    margin-bottom: 10px;
}

.password-box input{
    flex:1;
    padding:8px;
    width: 90%;
    padding: 10px;
    font-size: 14px;

}

.password-box button{
    padding:8px;
}
.copy-btn {
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    
}
.generate-btn{
    width:50%;
    padding:8px;
    margin-top: 20px;
    padding: 12px;
    margin:15px 0;
    background:transparent;
    border:1px solid #ff004c;
    color:#ff004c;
    cursor:pointer;
    border-radius:6px;
    transition:0.3s;
}

.generate-btn:hover{
    background:#ff004c;
    color:black;
    box-shadow:0 0 15px #ff004c;
}

.strength-bar{
    width:100%;
    height:8px;
    background:#333;
    margin-top:10px;
}

#strength-fill{
    height:100%;
    width:0%;
    transition:0.3s;
}

.options{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px 25px;
    margin:20px 0;
    text-align:left;
}

.switch{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    font-size:14px;
}

.switch input{
    display:none;
}

.slider{
    width:40px;
    height:20px;
    background:#222;
    border-radius:20px;
    position:relative;
    transition:0.4s;
}

.slider::before{
    content:"";
    position:absolute;
    width:16px;
    height:16px;
    background:#00ff00;
    border-radius:50%;
    top:2px;
    left:2px;
    transition:0.4s;
}

.switch input:checked + .slider{
    background:#00ff00;
}

.switch input:checked + .slider::before{
    transform:translateX(20px);
    background:black;
}

.clear-btn{
    width:40%;
    padding:8px;
    margin:15px auto;
    background:transparent;
    border:1px solid #ff004c;
    color:#ff004c;
    cursor:pointer;
    border-radius:6px;
    transition:0.3s;
}

.clear-btn:hover{
    background:#ff004c;
    color:black;
    box-shadow:0 0 15px #ff004c;
    transform:scale(1.05);
}

footer{
    margin-top:50px;
    padding:10px;
    text-align:center;
    font-size:12px;
}

footer a{
    color:#00ff00;
    margin:0 5px;
    text-decoration:none;
    margin-top: 30px;
    font-size: 12px;
}

@media (max-width: 992px) {

    .container {
        max-width: 90%;
        padding: 30px;
    }

    .options {
        gap: 15px;
    }
}
@media (max-width: 600px) {

    body {
        padding: 15px;
    }

    .container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .options {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    button {
        font-size: 14px;
    }

    #history {
        max-height: 120px;
    }
}
